
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
}

body{
    background-image: url("train.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

/* صفحة الولكم */
.welcome-left {
    position: absolute;
    top: 18%;
    left: 80px;
    text-align: left;
}

.welcome-left h1 {
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

.welcome-left p {
    font-size: 26px;
    margin-bottom: 45px;
    color: white;
}

/* زر Book Now */
.hero-btn {
    background: linear-gradient(135deg,#1e6fb9,#0d4e8a);
    color: white;
    padding: 18px 65px;
    border: none;
    border-radius: 35px;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0 6px 20px rgba(0,0,0,0.4);
}

.hero-btn:hover{
    background: linear-gradient(135deg,#155a96,#083b6b);
}

/* البوكس الأبيض */
.center-box {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    padding: 40px;
    width: 420px;
    border-radius: 20px;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.6);
    text-align: center;
    color: #333;
}

input,
select {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ddd;
}

/* زر Register و Login */
.action-btn {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    background: linear-gradient(135deg,#1e6fb9,#0d4e8a);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.action-btn:hover{
    background: linear-gradient(135deg,#155a96,#083b6b);
}

/* الروابط تحت */
.container a{
    color: #0d4e8a;
    font-weight: bold;
    text-decoration: none;
}

.container a:hover{
    color: #155a96;
    text-decoration: underline;
}

/* الأدمن بانل */
.hidden {
    display: none !important;
}

.admin-panel {
    border: 2px dashed #1e6fb9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 12px;
    background: #eef6ff;
    color: #333;
}

/* صفحة البروفايل */
.profile-container {
    background: white;
    padding: 25px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
    color: #333;
}

/* زر البروفايل */
.profile-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: linear-gradient(135deg,#1e6fb9,#0d4e8a);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}

.profile-btn:hover {
    background: linear-gradient(135deg,#155a96,#083b6b);
}
.bottom-text{
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.bottom-text a{
    color: #0d4e8a;
    font-weight: bold;
    text-decoration: none;
}

.bottom-text a:hover{
    color: #155a96;
    text-decoration: underline;
}
